* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

header {
    display: unset;
}

header article {
    height: 150px;
    border-style: solid;
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
}

header h1 {
    color: rgb(107, 162, 146)
}

nav {
    display: flex;
    /* Makes list horizontal */
    position: sticky;
    top: 0;
    height: 50px;
    padding-left: 50px;
    padding-right: 50px;

    align-items: center;
    justify-content: space-between;
    /* For seperating list */

    margin-bottom: 55px;
    background-color: rgb(179, 106, 94);
}

nav ul {
    display: flex;

}

nav li {
    margin: 0px;
    padding: 25px;

    font-size: 20px;
    color: rgb(255, 255, 255);
    list-style: none;
}

nav li:hover {
    color: rgb(223, 222, 222);
}

.container {
<<<<<<< Updated upstream
    min-height: 850px;
    width: auto;

    display: grid;
    grid-template-rows: 30% 1fr;
    grid-template-columns: 20% 1fr;
    grid-gap: 5px 5px;

    grid-template-areas:
        "side content"
        "otherside content";
    margin: 10px;
}

.side {
    grid-area: side;
    background-color: aqua;
}

main {
    grid-area: content;
    background-color: beige;
}

.maincon {
    min-height: 750px;
    width: auto;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px 5px;

    grid-template-areas:
        "test1 test2"
        "test3 test4";
    margin: 10px;

}

.a {
    grid-area: test1;
    background-color: blue;
=======
    margin: 10px;
    min-height: 850px;
    width: auto;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 35% 1fr;
    grid-template-areas:
        "side TPcontent"
        "otherside content";
    grid-gap: 5px;
}

aside {
    grid-area: side;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 5%;
>>>>>>> Stashed changes
}