* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

header {
    display: unset;
}

header article {
    height: 150px;
    border-style: solid;
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
}

header h1 {
    color: rgb(107, 162, 146)
}

nav {
    display: flex;
    /* Makes list horizontal */
    position: sticky;
    top: 0;
    height: 50px;
    padding-left: 50px;
    padding-right: 50px;

    align-items: center;
    justify-content: space-between;
    /* For seperating list */

    margin-bottom: 55px;
    background-color: rgb(179, 106, 94);
}

nav ul {
    display: flex;

}

nav li {
    margin: 0px;
    padding: 25px;

    font-size: 20px;
    color: rgb(255, 255, 255);
    list-style: none;
    text-decoration: none;
}

nav li:hover {
    color: rgb(223, 222, 222);
}

.container {
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 150px;
    text-align: center;
}

.btn {
    background-color: rgb(107, 162, 146);
    color: rgb(255, 255, 255);
    border-radius: 45px;
    width: 100%;
    font-size: 20px;
    padding: 15px;
}

.btn:hover {
    opacity: 0.7;
    color: #f0f0f0;
    background-color: rgb(179, 106, 94);
}
