* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

header {
    display: unset;
}

header article {
    height: 150px;
    border-style: solid;
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
}

header h1 {
    color: rgb(107, 162, 146)
}

nav {
    display: flex;
    /* Makes list horizontal */
    position: sticky;
    top: 0;
    height: 50px;
    padding-left: 50px;
    padding-right: 50px;

    align-items: center;
    justify-content: space-between;
    /* For seperating list */

    margin-bottom: 55px;
    background-color: rgb(179, 106, 94);
}

nav ul {
    display: flex;

}

nav li {
    margin: 0px;
    padding: 25px;

    font-size: 20px;
    color: rgb(255, 255, 255);
    list-style: none;
}

nav li:hover {
    color: rgb(223, 222, 222);
}

/*----------右下方商品導覽----------*/
#products {
    grid-area: productsTwo;

    display: grid;

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas:
        "products1"
        "products2"
        "products3";

}

#products h1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#products img {
    border-radius: 5%;
    display: block;
    padding: 5px;
}

.products {
    display: flex;
    height: 150px;
    margin-bottom: 25px;
}

#products h1 {
    text-align: center;
}

#products h2 {
    font-size: 20px;
}

#products h3 {
    font-size: 20px;
    text-align: right;
}

.products1 {
    grid-area: products2;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5%;
    margin: 10px;

}

.products2 {
    grid-area: products3;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5%;
    margin: 10px;
}

/*---------- 左方導引 ----------*/
.side {
    grid-area: side;
    background-color: aqua;
    border-radius: 10px;
    border: 1px solid black;
    /* border: 1px solid black; */
    text-align: center;
    font-size: 20px;
}

.flex-aside {
    margin: 5px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.flex-aside li {
    padding: 5px;
    border-radius: 10%;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}

.flex-aside li:hover {
    background-color: #6BA292;
}

/*--------- 主要Grid ---------- */
.container {

    min-height: 850px;
    width: auto;

    display: grid;
    grid-template-rows: 20% 1fr 5%;
    grid-template-columns: 10% 1fr 25%;
    grid-gap: 5px 5px;

    grid-template-areas:
        "side content products"
        "otherside content productsTwo";
    margin: 10px;
}

/*--------- 基本資料內容 ---------- */
.mainMe {
    grid-area: content;
    background-color: #f6f4d2;
    border: 1px solid brown;
    border-radius: 10px;
}

.mainRe {
    grid-area: content;
    background-color: white;
    border-radius: 10px;
}

.mainCom {
    grid-area: content;
    background-color: white;
    border-radius: 10px;
}

.maincont {
    min-height: 850px;
    width: auto;

    display: grid;
    grid-template-rows: 10% 40% 1fr;
    grid-template-columns: 40% 1fr;
    grid-gap: 5px 5px;

    grid-template-areas:
        "mGrid0 mGrid0"
        "mGrid1 mGrid2"
        "mGrid3 mGrid4";
    margin: 0px 30px 30px 30px;
    border-radius: 10px;

}

.content0 {
    grid-area: mGrid0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.content1 {
    grid-area: mGrid1;
    background-color: #e9ecef;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 20px;
}

.content2 {
    grid-area: mGrid2;
    background-color: beige;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;

}

.content3 {
    grid-area: mGrid3;
    margin: 30px 0px 0px 2cm;
    display: flex;
    justify-content: flex-start;
}


/*Home*/
#top-button {
    display: flex;
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 80px;
    width: 80px;

    border-radius: 50%;
    background-color: rgb(217, 181, 175);

    align-items: center;
    text-align: center;
}

.MebImg {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.Mebfont {
    font-size: 25px;

}

.pSpace {
    white-space: pre;
}

.mainButton2 {
    grid-area: mGrid4;
    display: flex;
    align-items: flex-end;
    margin: 0px 0px 1cm 1cm;
}

.mainButton2 h1 {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10%;
}

.mainButton2 h1:hover {
    color: brown;
}